.App {
  text-align: center;
}
.container{
  display: flex;
  margin: 0 auto;
  width: 40%;
  margin-top: 8%;
}
.customerContainerDiv{
  overflow-y: auto;
  height: 18em;
  width: 50%;
  margin-top: 3em

}
.customersContainer{
  margin: 1em;
}
.customersContainer p{
  display: block;

  


}
.deleteBtn{
  background-color: #0098DD;
  color: white;
  border:none;
  padding:.5em;
  border-radius: 5px;
  margin-left: .5em;
}
.deleteBtn:hover{
  background-color: #002777;
  cursor: pointer;
}

.updateBtn{
  background-color: #0098DD;
  color: white;
  border:none;
  padding:.5em;
  border-radius: 5px;
  margin-left: .5em;
  margin-bottom: .5em;
}
.updateBtn:hover{
  background-color: #002777;
  cursor: pointer;
}

.createCustomerBtn{
  background-color: #0098DD;
  margin-left: 1.2em;
  color:white;
  border: none;
  padding: 1em;
  border-radius: 5px;
  margin-top:3em;
}
.createCustomerBtn:hover{
  background-color: #002777;
  cursor:pointer;
}

.modal{
  position:absolute;
  top: 250px;
  left: 700px;
  width: 20%;
  margin: 0 auto;
  background-color: white;
  border: 1px solid gray;
}
.modal-content{
  text-align:center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.form{
  display: block;
  background-color:red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
